

<div class="row">

      <% @goods.each do |product|%>
      <div class="col-md-4" style="border:double; text-size:200%">

            <p style="font-size: 200%">
                  <%=product.title%>
                  <span style="float: right">      
                  <button class="btn btn-success btn-xs" style="background-color:red" onclick="reduce_from_basket(<%=product.id%>)">-</button>
                  <span id="<%=product.id%>" style="border-style:groove; font-size: 75%"></span>
                  <button class="btn btn-success btn-xs" onclick="add_to_basket(<%=product.id%>)">+</button>
                  </span>
            </p>
            <p> <img src=<%=product.path_to_image%> height=100 width=100><p>
            <p><%=product.description%></p>
            <p>Вес:<%=product.size%>  гр.</p>
            <p>Цена:<%=product.price%>  руб.</p>
      
      </div>
      <%end%>

</div>
<script type="text/javascript"> 
show_total_amount();
</script>