<h1> Parchase</h1>

<table class='table'>
        <thead>
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Cost</th>
          </tr>
        </thead>
        <tbody>
        <%cost = 0%>
        <%total_cost = 0%>
          <%@goods_in_order.each do |good|%>      
          <tr>
            <td><%=good[0].title%></td>
            <td><%=good[0].price%> руб.</td>
            <td><%=good[1]%> шт.</td>
            <%cost = good[1]*good[0].price%>
            <td><%=cost%> руб.</td>
            <%total_cost+=cost%>
          </tr>
          <%end%>
          <tr>
            <td>Total cost of parchase</td>
            <td></td>
            <td></td>
            <td><%=total_cost%> руб.</td>
          </tr>
        </tbody>
</table>    

<form action='/order_for_execute' method='POST' role='form'>
  <input name=order[order_input] type='hidden' value = <%=@goods_in_order%>>
  
  <div class = 'form-group'>
    <label>Client name </label>
    <input type='text' name='order[name]' placeholder='Input your name'>
  </div>
  
  <div class = 'form-group'>
    <label>Client phone </label>
    <input type='text' name='order[phone]' placeholder='Input your phone'>
  </div>
  
  <div class = 'form-group'>
    <label>Delivery address </label>
    <input type='text' name='order[adress]' placeholder='Input address for delivery'>
  </div>
  
  <button type='submit' class='btn btn-primary'>Confirm the order </button>
</form>
